<div layout="row" layout-fill ng-controller="LayoutController as layoutCtrl">
	
	<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
		<md-toolbar class="md-tall md-accent">
	        <span flex></span>
	        <div layout="column" class="md-toolbar-tools-bottom inset">
	          <div style="margin-bottom: 25px">
	          	<ng-md-icon icon="account_box" size="50"></ng-md-icon>
	          </div>
	          <div class="md-title">{{layoutCtrl.currentUser.name}}</div>
	          <div class="md-subhead">{{layoutCtrl.currentUser.email}}</div>
	        </div>
      	</md-toolbar>
      	<md-content>
	      	<md-list>
	      		<md-list-item ng-repeat="menuItem in layoutCtrl.menu">
			        <md-button flex>
		          		<md-item-content md-ink-ripple layout="row" layout-align="start center">
				            <!-- <div class="inset">
				              <ng-md-icon icon="menuItem.icon"></ng-md-icon>
				            </div> -->
		            		<div class="inset">{{menuItem.title}}</div>
		          		</md-item-content>
			        </md-button>
	      		</md-list-item>
	      		<md-divider></md-divider>
	      		<md-subheader>Management</md-subheader>
		      	<md-list-item ng-repeat="menuItem in layoutCtrl.adminMenu">
			        <md-button flex>
				    	<md-item-content md-ink-ripple layout="row" layout-align="start center">
				            <!-- <div class="inset">
				            	<ng-md-icon icon="menuItem.icon"></ng-md-icon>
				            	<md-icon md-font-icon="icon-home" class="material-icons step"></md-icon>
				            </div> -->
				            <div class="inset">{{menuItem.title}}</div>
				    	</md-item-content>
			        </md-button>
		      	</md-list-item>
		      	<md-list-item ng-controller="AuthController as authCtrl">
			        <md-button flex ng-click="authCtrl.logout()">
				    	<md-item-content md-ink-ripple layout="row" layout-align="start center">
				            <!-- <div class="inset">
				            	<ng-md-icon icon="menuItem.icon"></ng-md-icon>
				            	<md-icon md-font-icon="icon-home" class="material-icons step"></md-icon>
				            </div> -->
				            <div class="inset">Logout</div>
				    	</md-item-content>
			        </md-button>
		      	</md-list-item>
	    	</md-list>
      	</md-content>
	</md-sidenav>
	
	<div layout="column" flex layout-fill>
		<md-toolbar>
			<div class="md-toolbar-tools" layout="row">
				<md-button ng-click="layoutCtrl.toggleMenu()" hide-gt-sm>
					<ng-md-icon icon="menu"></ng-md-icon>	
				</md-button>
				<span class="md-title">Upload</span>
				<span flex></span>
				<md-button>
					<ng-md-icon icon="help-circle"></ng-md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<div layout="row" style="height:80%" ui-view></div>
		<footer flex="none" layout="row" layout-align="center center" style="height:20%">
	        <span class="md-caption" style="color: grey">Developed with <b>Angular Material</b> and <b>Backendless</b></span>
	    </footer>
	</div>
</div>