.lf-ng-md-file-input .lf-ng-md-file-input-preview-container {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
  	border-radius: 2px;
}

.lf-ng-md-file-input .lf-ng-md-file-input-container {
	-moz-border-radius: 2px;
	- webkit-border-radius: 2px;
  	border-radius: 2px;
 }

 .error-message {
 	color: red;
 	font-size: 14px;
 }

 .active-module {
 	background-color: #e1f5fe;
 }