<div id="loginView" layout-fill flex>
	<div layout="column" layout-align="center center">
		<span class="md-display-4">xFu</span>
		<span>Feed us your data</span>
	</div>
	<div layout="row" layout-align="center start">
		<md-whiteframe class="md-whiteframe-1dp" flex="20" flex-md="50" flex-sm="66" flex-xs="66" style="margin-top: 50px;">
			<md-toolbar>
			<span class="md-toolbar-tools">Login</span>
			</md-toolbar>
			<div layout-padding>
				<form name="loginForm" ng-controller="AuthController as authCtrl">
					<div layout="column">
						<md-input-container>
							<label>Email</label>
							<input type="email" name="email" 
								ng-model="credentials.email" 
								required 
								md-autofocus
								aria-label="Enter your registered email address">
							</input>
							<div ng-messages="loginForm.email.$error">
								<div ng-message="required">We cant log you in without your email address.</div>
								<div ng-message="email">We are sure that's not a valid email address.</div>
							</div>
						</md-input-container>
						
						<md-input-container>
							<label>Password</label>
							<input type="password" name="password" 
								ng-model="credentials.password" 
								required
								aria-label="Enter your password">
							</input>
							<div ng-messages="loginForm.password.$error">
								<div ng-message="required">We cant log you in without your all important password.</div>
							</div>
						</md-input-container>
						
						<div layout="column" layout-fill>
							<md-button type="submit" ng-click="authCtrl.loginWith(credentials)" 
								class="md-raised md-primary"
								ng-disabled="loginForm.email.$error.required || loginForm.email.$error.required || loginForm.password.$error.required">
								Login
							</md-button>
							<!-- <div layout="column" layout-align="center center" ng-show="authCtrl.loginInProgress">
								<md-progress-circular md-mode="indeterminate"></md-progress-circular>
							</div> -->
						</div>
					</div>
				</form>
		</div>
		</md-whiteframe>
	</div>
</div>