<div layout="column" layout-align="start center" layout-fill layout-padding layout-margin ng-show="!viewCtrl.hasFiles()">
	<div>
		<ng-md-icon icon="sentiment_dissatisfied" size="50" style="fill:lightgrey"></ng-md-icon>
	</div>
	<div class="md-body-1 centered">Sorry, there are no files to show.</div>
</div>
<div layout="row" layout-fill ng-show="viewCtrl.hasFiles()">
	<md-content layout="row" layout-xs="column" layout-fill layout-wrap>
		<div ng-repeat="file in viewCtrl.files.data" flex-xl="20" flex-lg="25" flex-md="33" flex-sm="50" flex-xs="100">
			<md-card>
				<md-card-title>
					<md-card-title-text>
						<span class="md-title">{{file.name}}</span>
						<div layout="row">
							<span class="md-subhead">{{file.createdOn | date}}</span>
							<span flex></span>
							<span class="md-subhead">{{file.size/1000}} kB</span>
						</div>
					</md-card-title-text>
				</md-card-title>
				<md-divider></md-divider>
				<md-card-actions layout="row" layout-align="end center">
		        	<md-menu>
		        		<md-button aria-label="Open action menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            				<ng-md-icon icon="more_vert"></ng-md-icon>
          				</md-button>
          				<md-menu-content width="2">
          					<md-menu-item>
					        	<md-button aria-label="download file" ng-href="{{file.publicUrl}}" target="_new">
					        		<ng-md-icon icon="file_download"></ng-md-icon>
					        		<span class="md-caption" flex>Download</span>
					        	</md-button>
          					</md-menu-item>
          					<md-menu-item ng-controller="DeleteController as deleteCtrl">
					        	<md-button aria-label="delete file" ng-click="viewCtrl.confirmDelete($event, file)">
					        		<ng-md-icon icon="delete_forever"></ng-md-icon>	
					        		<span class="md-caption" flex>Delete</span>
					        	</md-button>
          					</md-menu-item>
          				</md-menu-content>
		        	</md-menu>
		        </md-card-actions>
			</md-card>
		</div>
	</md-content>
</div>